<div class="panel panel-default course"
     [courseFreshness]="course.date"
     [ngClass]="courseClass"
>
    <div class="text-right course__controls">
        <button [routerLink]="['/courses/edit/' + course.id]" type="button" class="btn btn-default">Edit course</button>
        <button (click)="onDeleteCourse()" type="button" class="btn btn-danger">Delete</button>
    </div>
    <div class="course__info">
        <div class="col-xs-3">
            <h3 class="course__header">{{course.name | uppercase}}</h3>
        </div>
        <div class="col-xs-6">
            {{course.duration | duration}}
            <span *ngIf="isPopular()"
                  class="glyphicon glyphicon-fire"
                  [ngClass]="popularityClass"
                  aria-hidden="true"></span>
        </div>
        <div class="col-xs-3 text-right">
            {{course.date | date}}
        </div>
        <div class="col-xs-12 text-justify">
            {{course.description}}
        </div>
    </div>
</div>
