<div class="panel panel-default course" [courseFreshness]="course.date">
    <div class="text-right course__controls">
        <button (click)="onEditCourse()" type="button" class="btn btn-default">Edit course</button>
        <button (click)="onDeleteCourse()" type="button" class="btn btn-danger">Delete</button>
    </div>
    <div class="course__info">
        <div class="col-xs-3">
            <h3 class="course__header">{{course.name}}</h3>
        </div>
        <div class="col-xs-6">
            {{course.duration}}
            <span *ngIf="course.votes >= 3"
                  class="glyphicon glyphicon-fire"
                  [ngClass]="getPopularityClass()"
                  aria-hidden="true"></span>
        </div>
        <div class="col-xs-3 text-right">
            {{course.date | date}}
        </div>
        <div class="col-xs-12 text-justify">
            {{course.description}}
        </div>
    </div>
</div>