<div class="panel panel-default courses-filter">
    <form #controlsForm="ngForm" class="form-inline panel-body">
        <div class="form-group">
            <label for="coursesFilter" class="sr-only">Filter</label>
            <input [(ngModel)]="filterString"
                   type="text"
                   class="form-control courses-filter__input"
                   id="coursesFilter"
                   placeholder="name, fragment or date"
                   name="filterString"
            />
        </div>
        <div class="form-group">
            <button (click)="find()" type="button" class="btn btn-default">Find</button>
        </div>
        <div class="form-group pull-right">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
                Add course
            </button>
        </div>
    </form>
</div>