.courses-filter {
  &__input {
    min-width: 350px;
  }

  &__sort {
    margin-left: 20px;

    &-by-caption {
      margin: 0;
      padding: 7px 10px;
    }

    &-by a {
      padding: 7px 15px;
    }
  }
}
